DATABASE_URL="file:./project-system.db"
AUTH_SECRET="replace-with-a-random-secret-of-at-least-32-characters"
ADMIN_EMAIL="admin@projectsystem.com"
ADMIN_PASSWORD="replace-with-a-unique-password-of-at-least-16-characters"
AGENT_EMAIL="agent@projectsystem.com"
AGENT_PASSWORD="replace-with-a-unique-password-of-at-least-16-characters"
