DATABASE_URL="postgresql://USER:PASSWORD@YOUR-NEON-HOST/DBNAME?sslmode=require&pgbouncer=true"
POSTGRES_URL_NON_POOLING="postgresql://USER:PASSWORD@YOUR-NEON-HOST/DBNAME?sslmode=require"
AUTH_SECRET="replace-with-a-random-secret-of-at-least-32-characters"
ADMIN_EMAIL="admin@projectsystem.com"
ADMIN_PASSWORD="replace-with-a-unique-password-of-at-least-16-characters"
AGENT_EMAIL="agent@projectsystem.com"
AGENT_PASSWORD="replace-with-a-unique-password-of-at-least-16-characters"
