# See https://help.github.com/articles/ignoring-files/for-security-reasons/
# and https://www.npmjs.com/package/gitignore

.next
node_modules
.env
.env.local
.env.*
!.env.example
prisma/dev.db
prisma/dev.db-journal
prisma/project-system.db
prisma/project-system.db-journal
Project-System-Upload.zip
